*{
  font-family: Arial, Helvetica, sans-serif;
}

.card {
  background: #FFF;
  border: 1px solid #000;
  padding: 1rem;
  border-radius: 10px;
}

.card-list {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}